<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>Login to your account</h2>
                    <form action="#" [formGroup]='loginForm' (ngSubmit)="login_action(loginForm)">
                        
                       
                        <input type="email" placeholder="Email Address" formControlName="email"/>
                        <div *ngIf="loginForm.controls['email'].touched && !loginForm.controls['email'].valid">  
                            <span *ngIf="loginForm.controls['email'].hasError('required') ">  
                                email is required  
                                </span>  
                                <span *ngIf="loginForm.controls['email'].hasError('email') ">  
                                 email patter invalid 
                                </span>  
                            
                        </div> 
                        <input type="password" placeholder="Password" formControlName="password"/>
                        <div *ngIf="loginForm.controls['password'].touched && !loginForm.controls['password'].valid">  
                            <span *ngIf="loginForm.controls['password'].hasError('required') ">  
                                Password is required  
                                </span>  
                                <span *ngIf="loginForm.controls['password'].hasError('minlength') ">  
                                 Min length is 4  
                                </span>  
                                <span *ngIf="loginForm.controls['password'].hasError('maxlength') ">  
                                    Max length is 20  
                                   </span>  
                            
                        </div> 
                        
                        <button type="submit" class="btn" [disabled]="!loginForm.valid">Login</button>
                    </form>
                    {{loginForm.valid}}
                    {{loginmsg}}
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>New User Signup!</h2>
                    <form action="#" [formGroup]='signupForm' (ngSubmit)="register_action(signupForm)">
                        <input type="text" placeholder="Name" formControlName="name"formControlName="name"/>
                        <div *ngIf="signupForm.controls['name'].touched && !signupForm.controls['name'].valid">  
                            <span *ngIf="signupForm.controls['name'].hasError('required') ">  
                                Name is required  
                                </span>  
                                <span *ngIf="signupForm.controls['name'].hasError('minlength') ">  
                                 Min length is 4  
                                </span>  
                                <span *ngIf="signupForm.controls['name'].hasError('maxlength') ">  
                                max length is 15  
                            </span>  
                        </div>  
                        <input type="text" placeholder="Mobile" formControlName="mobile"/>
                        <div *ngIf="signupForm.controls['mobile'].touched && !signupForm.controls['mobile'].valid">  
                            <span *ngIf="signupForm.controls['mobile'].hasError('required') ">  
                                Mobile is required  
                                </span>  
                                <span *ngIf="signupForm.controls['mobile'].hasError('pattern') ">  
                                 Mobile patter invalid 
                                </span>  
                            
                        </div> 
                        <input type="email" placeholder="Email Address" formControlName="email"/>
                        <div *ngIf="signupForm.controls['email'].touched && !signupForm.controls['email'].valid">  
                            <span *ngIf="signupForm.controls['email'].hasError('required') ">  
                                email is required  
                                </span>  
                                <span *ngIf="signupForm.controls['email'].hasError('email') ">  
                                 email patter invalid 
                                </span>  
                            
                        </div> 
                        <input type="password" placeholder="Password" formControlName="password"/>
                        <div *ngIf="signupForm.controls['password'].touched && !signupForm.controls['password'].valid">  
                            <span *ngIf="signupForm.controls['password'].hasError('required') ">  
                                Password is required  
                                </span>  
                                <span *ngIf="signupForm.controls['password'].hasError('minlength') ">  
                                 Min length is 4  
                                </span>  
                                <span *ngIf="signupForm.controls['password'].hasError('maxlength') ">  
                                    Max length is 20  
                                   </span>  
                            
                        </div> 
                        <input type="password" placeholder="Confirm Password" formControlName="cpassword"/>
                        <div *ngIf="signupForm.controls['cpassword'].touched && !signupForm.controls['cpassword'].valid">  
                            <span *ngIf="signupForm.controls['cpassword'].hasError('required') ">  
                                Confirm Password is required  
                                </span>  
                                <span *ngIf="signupForm.controls['cpassword'].hasError('minlength') ">  
                                 Min length is 4  
                                </span>  
                                <span *ngIf="signupForm.controls['cpassword'].hasError('maxlength') ">  
                                    Max length is 20  
                                   </span>  
                            
                        </div> 
                        <button type="submit" class="btn" [disabled]="!signupForm.valid">Signup</button>
                    </form>
                    {{signupForm.valid}}
                    {{regmsg}}
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->